<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/Head.ejs')%>
    <title>Details</title>
  </head>
  <body>
    <%-include('../views/Navbar.ejs')%>
    <main>
      <div class="detail-main">
        <div class="row">
          <div class="first-box col-11">
            <div class="card mx-5">
              <img
                src="../assets/img/sweden.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h1 class="text-center">SWEDEN</h1>
                <p class="card-text text-center">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
                  maiores iusto mollitia animi, illum commodi, placeat eum nulla
                  omnis natus consequuntur debitis iure ratione quo dolorum
                  facere. Quas, modi. Autem, corrupti illum nihil,
                </p>
              </div>
            </div>
            <div class="card mx-5">
              <img
                src="../assets/img/sweden.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h1 class="text-center">SWEDEN</h1>
                <p class="card-text text-center">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
                  maiores iusto mollitia animi, illum commodi, placeat eum nulla
                  omnis natus consequuntur debitis iure ratione quo dolorum
                  facere. Quas, modi. Autem, corrupti illum nihil,
                </p>
              </div>
            </div>
            <div class="card mx-5">
              <img
                src="../assets/img/sweden.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h1 class="text-center">SWEDEN</h1>
                <p class="card-text text-center">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
                  maiores iusto mollitia animi, illum commodi, placeat eum nulla
                  omnis natus consequuntur debitis iure ratione quo dolorum
                  facere. Quas, modi. Autem, corrupti illum nihil,
                </p>
              </div>
            </div>
          </div>
          <div class="second-box col-11">
            <div class="card mx-5">
              <img
                src="../assets/img/sweden.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h1 class="text-center">SWEDEN</h1>
                <p class="card-text text-center">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
                  maiores iusto mollitia animi, illum commodi, placeat eum nulla
                  omnis natus consequuntur debitis iure ratione quo dolorum
                  facere. Quas, modi. Autem, corrupti illum nihil,
                </p>
              </div>
            </div>
            <div class="card mx-5">
              <img
                src="../assets/img/sweden.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h1 class="text-center">SWEDEN</h1>
                <p class="card-text text-center">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
                  maiores iusto mollitia animi, illum commodi, placeat eum nulla
                  omnis natus consequuntur debitis iure ratione quo dolorum
                  facere. Quas, modi. Autem, corrupti illum nihil,
                </p>
              </div>
            </div>
            <div class="card mx-5">
              <img
                src="../assets/img/sweden.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h1 class="text-center">SWEDEN</h1>
                <p class="card-text text-center">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
                  maiores iusto mollitia animi, illum commodi, placeat eum nulla
                  omnis natus consequuntur debitis iure ratione quo dolorum
                  facere. Quas, modi. Autem, corrupti illum nihil,
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer><%- include('../views/footer.ejs')%></footer>
  </body>
</html>
