<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/Head.ejs')%>

    <title>Travel Your Dreams</title>
  </head>
  <body>
    <%-include('../views/Navbar.ejs')%>

    <main>
      <div class="main-div">
        <h1 class="main-h1">TRAVEL YOUR DREAMS</h1>
        <span>discover the wonders of the world</span>
        <a type="button" href="/details" class="main-button btn">Get Started</a>
      </div>

      <footer><%- include('../views/footer.ejs')%></footer>
    </main>
  </body>
</html>
